venv
docs/build
RBM.egg-info
.idea
**/__pycache__/
.pytest_cache
htmlcov
.coverage
.coverage[!rc]*
.ipynb_checkpoints
MNIST_data/
experiments/results
experiments/data/tmp
experiments/other_models/data
GPflow